.dropdown_box {
  display: flex;
  column-gap: 9px;
}

.container {
  position: relative;
  display: inline-block;
}

.header_item {
  color: #000;
  text-align: right;
  border: none;
  font-size: 24px;
  line-height: 50px;
  letter-spacing: -0.1px;
  background: none;
  cursor: pointer;
}

.dropdown {
  z-index: 1;
  position: absolute;

  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 150px;
  box-shadow: -10px 10px 15.999px 0px rgba(0, 0, 0, 0.1),
    10px -10px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.submenu_item {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 24px;
  line-height: 32px;
  margin: 10px;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  border-style: none;
  background-color: white;
  font-family: 'StratosSkyeng';
  &:hover {
    font-weight: 600;
  }
}

.dropdown_svg {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #d9d9d9;
}
