.popup_wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.3);
  left: 0;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 200px;
  width: 366px;
  height: 439px;
  top: -1218px;
  left: -1923px;
  border-radius: 12px;
  background: #ffffff;
  font-family: StratosSkyeng;
  align-items: center;
  padding-top: 20px;
}

.inputs {
  width: 278.5px;
  top: 138px;
  left: 40.5px;
  border: 1px;
  background: #ffffff;
  align-content: center;
  border: none !important;
  margin-bottom: 36px;
  font-family: StratosSkyeng;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d0cece;
  padding: 8px 1px;
  font-family: StratosSkyeng;
}

.input input {
  background: transparent;
  border: none;
  outline: none;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: black;
  padding: 8px 1px;
  font-family: StratosSkyeng;
  &::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #d0cece;
    font-family: StratosSkyeng;
  }
}

.registerButton {
  width: 278px;
  height: 52px;
  border-radius: 46px;
  background-color: #ffffff;
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.05000000074505806px;
  text-align: center;
  color: #000000;
  border: 1px solid;
  border-radius: 46px;
  border-color: #d0cece;
  margin-top: 16px;
  &:hover {
    background-color: #f4f5f6;
  }
  &:active {
    background-color: #d9d9d9;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}
