.workoutCard {
  &_Yoga {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
  }
  &_Img {
    position: absolute;
    top: 0px;
    right: 96px;
  }
  &_ImgRight {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 30px;
  }
}
