.selectWorkout {
  width: 100vw;
  height: 100vh;
  background-color: #9d61dd;
  padding-top: 100px;

  &_box {
    margin: auto;
    width: 444px;
    height: 626px;
    border-radius: 12px;
    box-shadow: 10px 5px 10px 5px #0000001a;
    background-color: #fff;
    padding-top: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &_title {
    font-family: StratosSkyeng;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin-bottom: 40px;
  }
}
.workouts {
  display: flex;
  gap: 12px;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-y: scroll;
  height: 452px;
  width: 75%;
  &::-webkit-scrollbar {
    width: 5px;
    height: 0px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
}
.workout {
  &_false {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000000;
    border-radius: 26px;
    width: 278px;
    min-height: 76px;
    padding: 11px 27px 11px 27px;
    padding-left: 27px;
    padding-right: 27px;
    text-decoration: none;
  }
  &_true {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #06b16e;
    border-radius: 26px;
    width: 278px;
    min-height: 76px;
    padding: 11px 27px 11px 27px;
    padding-left: 27px;
    padding-right: 27px;
    position: relative;
    text-decoration: none;
  }
  &Text {
    &_false {
      font-family: StratosSkyeng;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      text-align: center;
      width: 250px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000000;
    }
    &_true {
      color: #06b16e;
      font-family: StratosSkyeng;
      font-size: 20px;
      font-weight: 400;
      line-height: 23px;
      text-align: center;
      width: 250px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &_img {
    position: absolute;
    right: 9px;
    top: 9px;
  }
}
