.header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 75px;
}

.heder_select {
  color: #000;
  text-align: right;
  border: 0px;
  outline: 0px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.1px;
}
