@font-face {
  font-family: "StratosSkyeng";
  src: local("StratosSkyeng"), local("StratosSkyeng"),
    url("./fonts/13\ 10_07_5965cb3f7f3c7fa5.81434207stratosskyengwebregular.woff")format("woff2"),
    url("./fonts/13\ 10_07_5965cb3f7f3c91c4.65127847stratosskyengwebregular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}
